.footer {
	/* width: 100%;
	height: 250px;
	background-color: rgba(128, 128, 128, 0.3);
	font-family: "Open Sans", sans-serif;
	color: #1D263B;
	display: flex;
	justify-content: center;
	align-items: center; */
	font-family: "Open Sans", sans-serif;
    display: flex;
    flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
    padding: 32px 16px;
    color: #9e9e9e;
	background-color: #424242;
}

.footer p {
	margin: 0 0 20px 0;
}

.footer a {
	color: #4CAF50;
	text-decoration: none;
}

.footer a:hover {
	color: #388e3c;
}
