.FormMessage {
    margin: 10px 0;
    padding: 10px 20px;

    text-align: center;
    border-radius: 15px;

    font-size: 14px;
}

.FormMessage.-error {
    color: #000000;
    background-color: #ffcdd2;
}

.FormMessage.-success {
    color: #000000;
    background-color: #c6f68d;
}

.FormMessage.-warning {
    color: #000000;
    background-color: #ffc61d;
}
