.partidaLista > li {
	height: auto;
	padding: 10px 25px 0px 25px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	/* border-bottom: 1px solid #4caf50; */
	border-bottom: 1px solid #c7c7c73d;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	
	background-color: #fff;
	position: relative;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

	transition: all 0.3s ease;
}

.partidaLista > li:hover {
	background-color: #e2e2e2;
}

.partidaLista > li:last-of-type {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: none;
	overflow: hidden;
}

.partidaLista > li p {
	margin: 0;
	/* text-align: right; */
	word-break: break-all;
}

.partidaLista > li > a {
	width: 100%;
	height: 100%;

	display: block;
	text-decoration: none;
	color: #424242;
}

.partidaLista > li div {
	width: 100%;
	height: 100%;

	/* display: flex;
    flex-direction: column;
    justify-content: center; */
}


.partidaLista > li .info {
    color: #878787;
    
	margin-bottom: 10px;
	font-size: 12px;
	text-align: center;
}

.partidaLista > li .match-container {
	width: 100%;
	/* max-width: 620px; */
	margin-bottom: 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.partidaLista > li .match-container > div {
    width: 100%;
}

.partidaLista > li .match-container > .placar {
	min-width: 90px;

	display: flex;
	align-items: center;
    justify-content: center;
}

.partidaLista > li .match-container > .placar > p[class^=plac] {
	width: 40px;
	display: block;
	text-align: center;
}





.partidaLista .-apostadoJogo {
	padding: 10px 0 0 0;
}

.partidaLista > li .users-container {	
	width: 100%;
	margin-top: 15px;
}



.partidaLista > li .users-container > .users-usernamesList {
	/* height: auto; */
	overflow: hidden;
	transition: all 0.3s ease;
}

.partidaLista > li .users-container > input[id^=toggleUsernames] {
	display: none;
}

.partidaLista > li .users-container > label {
	width: 100%;
	text-align: center;
	display: block;
	padding: 5px 0;
	font-size: 14px;
	background-color: #eaeaea;
	color: #424242;
	cursor: pointer;
}

.partidaLista > li .users-container > input[id^=toggleUsernames]:not(:checked) + .users-usernamesList {
	height: 0px !important;
}

.partidaLista > li .users-container > .users-usernamesList > div {
	height: 39px;
}

.partidaLista > li .users-container > .users-usernamesList > div > a {
	width: 100%;
	display: block;

	padding: 10px 0;
	border-top: 1px solid #c7c7c7;

	text-decoration: none;
	color: black;
	text-align: center;
	transition: all 0.3s ease;
}

.partidaLista > li .users-container > div > div > a:hover {
	background-color: #c7c7c7;
}





.partidaLista > li .users-percent {
	width: 90px;
    height: 30px;

	position: absolute;
	top: 0;
	right: 0;

	overflow: hidden;
}

.partidaLista > li .users-percent > .percent-triangle {
	border-top: 30px solid #4caf50;
	border-left: 30px solid transparent;
}

.partidaLista > li .users-percent > p {
	position: absolute;
	top: 5px;
	right: 5px;
	
	color: whitesmoke;
	font-weight: bold;
}




.partidaLista > li .users-points {
	width: 100%;
    /* height: 30px; */
	padding: 3px 0;

	font-size: 12px;

	display: flex;
	justify-content: center;
}



@media only screen and (max-width: 400px){
	.rankTable > tbody > tr > .pointsColumn {
		padding-right: 0;
	}
	
    .rankTable > thead > tr > .pointsColumn {
        width: 60px;
	}
	
	.partidaLista > li p {
		font-size: 14px;
	}

}