.home-btn {
    width: 100%;
	/* height: 20vh; */
	min-height: 90px;
	padding: 20px 0;
	background-color: #f5f5f5;
	/* border-bottom: 1px solid #1D263B; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Open Sans", sans-serif;
}

.home-btn a {
	/* font-size: 24px;
	text-decoration: none;
	color: white;
	padding: 1px 10px;
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	background-color: #388e3c;
	transition: all 0.3s ease; */
	border: none;
    border-radius: 2px;
	color: white;
    position: relative;
    height: 36px;
    margin: 0px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
	vertical-align: middle;
	background: #4CAF50;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.home-btn a:hover {
	/* background-color: #006827; */
	background-color: #388E3C;

}

.home-btn > .linksContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.home-btn > .linksContainer > a:not(:last-child) {
	margin-bottom: 10px;
}