.spinner {
	margin: 10px 0;
	display: flex;
	justify-content: center;
}

.spinner-hide {
	display: none;
}

.half-circle-spinner, .half-circle-spinner * {
	box-sizing: border-box;
}

.half-circle-spinner {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: relative;
}



.half-circle-spinner .circle {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: calc(40px / 10) solid transparent;
}

.half-circle-spinner .circle.circle-1 {
	border-top-color: #0a7e00;
	animation: half-circle-spinner-animation 1s infinite;
}

.half-circle-spinner .circle.circle-2 {
	border-bottom-color: #0a7e00;
	animation: half-circle-spinner-animation 1s infinite alternate;
}



/* LOCAL STORAGE: */

.spinner.-withLocalStorage {
	position: absolute;
	top: 36px;
    right: 30px;
}
.spinner.-withLocalStorage > .half-circle-spinner {
	width: 30px;
	height: 30px;
}
.spinner.-withLocalStorage > .half-circle-spinner > .circle.circle-1 {
	border-top-color: whitesmoke;
}
.spinner.-withLocalStorage > .half-circle-spinner > .circle.circle-2 {
	border-bottom-color: whitesmoke;
}

/* LOCAL STORAGE 2: */
.spinner.-withLocalStorage2 {
	position: absolute;
    top: -2px;
    right: 11px;
}
.spinner.-withLocalStorage2 > .half-circle-spinner {
	width: 30px;
	height: 30px;
}
.spinner.-withLocalStorage2 > .half-circle-spinner > .circle.circle-1 {
	border-top-color: whitesmoke;
}
.spinner.-withLocalStorage2 > .half-circle-spinner > .circle.circle-2 {
	border-bottom-color: whitesmoke;
}


@keyframes half-circle-spinner-animation {
	0% {
		transform: rotate(0deg);

	}
	100%{
		transform: rotate(360deg);
	}
}
