.FaqSection-container {
    width: 100%;
    
    padding: 30px 30px 50px 30px;

    /* background-color: #c7c7c7; */
}

.FaqSection-container > h2 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 36px;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    color: #424242;
}



.FaqSection-regulamento {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 30px;
    color: #424242;
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.FaqSection-regulamento > p {
    width: 75%;
    text-align: center;
    padding: 0 50px;
    line-height: 25px;
}

.FaqSection-regulamento > p > a {
    color: #4CAF50;
    text-decoration: none;
    transition: all 0.3s ease;
}

.FaqSection-regulamento > p > a:hover {
    color: #388E3C;
}

.FaqSection-regulamento > h3 {
    margin: 30px 0 0 0;
}

@media only screen and (max-width: 770px){
    .FaqSection-container {
        padding: 30px 10px 50px 10px;
    }

    .FaqSection-regulamento {
        padding: 0;
    }

    .FaqSection-regulamento > p {
        width: 100%;
        padding: 0;
    }
}

@media only screen and (max-width: 500px){
    .FaqSection-container > h2 {
        font-size: 24px;
    }

    .FaqSection-regulamento > h3 {
        font-size: 18px;
    }

    .FaqSection-regulamento > p {
        font-size: 14px;
    }
}