.main-container {
	width: 100%;
	min-height: 80vh;
	
	margin-top: 30px;
	padding: 50px 10px 100px 10px;
	background-color: whitesmoke;

	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;

	display: flex;
	justify-content: center;
}

.main-container > .main-content {
	width: 75%;
}

.main-container > .main-dashboard {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.main-container > .main-dashboard > div {
	width: 100%;
	display: flex;
}


.main-container > .main-content > .message {
	z-index: 1;
    position: relative;

	padding: 0;
    margin: 0;
	
    display: flex;
    justify-content: space-evenly;
    align-content: center;
	flex-wrap: wrap;
	
    padding: 10px;
	background-color: #f5f5f5;

	border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
	
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}





.main-partidaForm {
	position: relative;
	width: 100%;
}

.main-partidaForm  > .partidaLista {
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.main-partidaForm  > .partidaLista > .pageTitle {
	background-color: #4caf50;
	padding: 10px 15px;

	font-size: 22px;
	color: whitesmoke;
	margin: 0;

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;

	text-align: left;

	box-shadow: 
		0 2px 2px 0 rgba(0,0,0,.3), 
		0 3px 1px -2px rgba(0,0,0,.2), 
		0 1px 5px 0 rgba(0,0,0,.12);
}

.main-partidaForm  > .partidaLista > .allFixturesLink {
	height: 45px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 0 10px;

	color: white;
	text-decoration: none;
	background-color: #4caf50;
	transition: all 0.3s ease;

	border-left: 1px solid whitesmoke;
	border-top-right-radius: 10px;

	position: absolute;
	top: 0;
	right: 0;
}

.main-partidaForm  > .partidaLista > .allFixturesLink:hover {
	background-color: #388E3C;
}

.main-partidaForm  > .partidaLista > .errorMessage {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: white;
	color: #424242;

	box-shadow: 0 2px 2px 0 rgba(0,0,0,.3), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.main-partidaForm > .EnviarAposta {
	padding-top: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-partidaForm > .EnviarAposta > .SendButton {
	border: none;
    border-radius: 2px;
	color: white;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
	vertical-align: middle;
	background: #4CAF50;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.main-partidaForm > .EnviarAposta > .SendButton:hover {
	background-color: #388E3C;
}





.main-partidaForm  > .partidaLista.-apostado {
	margin-top: 60px;
}

.main-partidaForm  > .partidaLista.-apostado > .pageTitle {
	padding: 45px 15px 10px 15px;
	text-transform: uppercase;
	text-align: center;
}

.main-partidaForm  > .partidaLista.-apostado > .pageTitle > .subTitle {
	color: #424242;
	font-size: 12px;
}




.main-partidaForm > .userImage-container {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: -60px;
	left: 0;
	z-index: 1;
}

.main-partidaForm > .userImage-container > .userImage {
	width: 100px;
	height: 100px;

	background-color: #4caf50;
	border-radius: 50%;
	overflow: hidden;
}

.main-partidaForm > .userImage-container > .userImage > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}




.main-partidaForm > .partidaLista.-admin > .pageTitle {
	background-color: #f44336;
	text-transform: uppercase;
	text-align: center;
}

.main-partidaForm > .partidaLista.-admin > .pageTitle > .subTitle {
    color: #424242;
    font-size: 12px;
}






.dashboard-main {
	width: 60%;
	margin: 0 10px;
}

.dashboard-aside {
	width: 40%;
	margin: 0 10px;
}

.dashboard-aside > .main-partidaForm:first-child {
	margin-bottom: 30px;
}


.dashbord-top {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.dashbord-top > h2 {
	width: 100%;
	text-align: center;
	color: #4caf50;
	font-size: 30px;

	margin-top: 0;
	margin-bottom: 5px;
	
}

.dashbord-top > h4 {
	width: 100%;
	text-align: center;
	color: #424242;
	font-size: 20px;

	margin-top: 0;
	margin-bottom: 20px;
	
}



.dashboard-statusFase {
	position: absolute;
	top: 0;
	right: 0;

	height: 45px;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	border-top-right-radius: 10px;

	/* padding: 0 10px 0px 10px; */
}

.dashboard-statusFase p {
	display: inline-block;
	
	padding: 0px 15px;
	margin: 0;

	text-align: center;
	border-radius: 15px;
	font-size: 14px;
}

.dashboard-statusFase.-finalizado {
	background-color: #424242;
	color: whitesmoke;
}

.dashboard-statusFase.-aberto {
	background-color: #388E3C;
	color: whitesmoke;
}

.dashboard-statusFase a {
	height: 100%;
	
	background-color: #e60000;
	padding: 0px 15px;
	/* margin: 10px; */

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	text-decoration: none;
	border-top-right-radius: 10px;

	color: #f5f5f5;
	transition: all .3s ease;
}

.dashboard-statusFase a:hover{
	background-color: #b90000;
}




